<div class="cards-container">

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Lorem ipsum dolor sit amet</mat-card-title>
      <mat-card-subtitle>in orci ut finibus. Interdum et malesuada fames</mat-card-subtitle>
    </mat-card-header>
    <div class="images"></div>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Lorem ipsum dolor sit amet 2</mat-card-title>
      <mat-card-subtitle>in orci ut finibus. Interdum et malesuada fames</mat-card-subtitle>
    </mat-card-header>
    <div class="images2"></div>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Lorem ipsum dolor sit amet 3</mat-card-title>
      <mat-card-subtitle>in orci ut finibus. Interdum et malesuada fames</mat-card-subtitle>
    </mat-card-header>
    <div class="images3"></div>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Lorem ipsum dolor sit amet 4</mat-card-title>
      <mat-card-subtitle>in orci ut finibus. Interdum et malesuada fames</mat-card-subtitle>
    </mat-card-header>
    <div class="images4"></div>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Lorem ipsum dolor sit amet 5</mat-card-title>
      <mat-card-subtitle>in orci ut finibus. Interdum et malesuada fames</mat-card-subtitle>
    </mat-card-header>
    <div class="images5"></div>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Lorem ipsum dolor sit amet 6</mat-card-title>
      <mat-card-subtitle>in orci ut finibus. Interdum et malesuada fames</mat-card-subtitle>
    </mat-card-header>
    <div class="images6"></div>
  </mat-card>

</div>
