.padre {
  display: flex;
  flex-flow: column nowrap;
}

.menu {
  background: rgba(0, 0, 0, .1);
  display: flex;
  flex-flow: row nowrap;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(207, 201, 201, 0.5);
  padding-left: 50px;
  padding-right: 50px;
}

.logo {
  flex: 1 1 auto;
}

.logo a {
  color: #4a8043;
  font-size: 30px;
}

.logo a:hover {
  color: #343434;
}

.nav a {
  color: #5AB47B;
  font-size: 0.8 rem;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}

.nav a:hover {
  color: #343434;
}
