<div class="general">
  <header>
    <h1>Sobre nosotros</h1>
  </header>
  <body>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere nulla vitae ligula luctus, quis dapibus ligula
      scelerisque. Phasellus convallis diam ex. Ut quis dui quis lacus commodo facilisis et et ligula. Ut eget ipsum suscipit,
      sollicitudin metus sit amet, mollis mi. Integer quis nisi non ipsum lacinia rutrum. Nam imperdiet hendrerit nulla a
      mattis. Pellentesque vel tellus nibh. Phasellus ultrices quam fermentum pellentesque dapibus. Vivamus ipsum tortor,
      blandit id mattis sit amet, elementum sed elit. Donec libero nibh, placerat non orci sit amet, bibendum tempor nunc.
      Phasellus ac magna ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam
      id fermentum ex. Nullam sed dui in nisi tincidunt pellentesque. Vivamus mollis laoreet quam vel rutrum. Morbi sodales
      blandit diam a laoreet.</p>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </body>
</div>
